@charset "UTF-8";
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.eot?27841936');
    src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'), url('../font/symbols-nerds.woff?27841936') format('woff'), url('../font/symbols-nerds.ttf?27841936') format('truetype'), url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'symbols-nerds';
src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
}
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    display: inline-block;
    margin-right: .2em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    width: 1em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    font-family: "symbols-nerds";
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    speak: none;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before {
    content: '\62';
}


/* 'b' */

.icon-facebook:before {
    content: '\66';
}


/* 'f' */

.icon-twitter:before {
    content: '\74';
}


/* 't' */

.icon-vk:before {
    content: '\76';
}


/* 'v' */

.icon-up-dir:before {
    content: '\25b2';
}


/* '▲' */

.icon-down-dir:before {
    content: '\25bc';
}


/* '▼' */

.icon-circle:before {
    content: '\25cb';
}


/* '○' */

.icon-circle-dot:before {
    content: '\25cf';
}


/* '●' */

.icon-check-off:before {
    content: '\2610';
}


/* '☐' */

.icon-check-on:before {
    content: '\2611';
}


/* '☑' */

.icon-instagramm:before {
    content: '📷';
}


/* '\1f4f7' */


/*Основная стилизация*/

body {
    min-width: 900;
    color: #283136;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 22px;
}

h1 {
    font-size: 40px;
    line-height: normal;
}

h2 {
    font-size: 36px;
    line-height: 36px;
}

h3 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
}

h4 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 880px;
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

.main-header {
    margin-bottom: 80px;
    min-width: 890px;
    background: #eee;
}

.header-logo {
    float: left;
    margin-top: 27px;
    margin-left: 1px;
}

.main-navigation {
    float: left;
    margin-top: 54px;
    margin-left: 183px;
    width: 400px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    float: left;
    margin-right: 46px;
    width: 65px;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
}

.main-navigation li:first-child {
    width: 54px;
}

.main-navigation li:last-child {
    margin-right: 0;
}

.main-navigation a {
    color: #000;
    text-decoration: none;
}

.main-navigation a:hover {
    color: #f96a6e;
}

.main-navigation a:active {
    color: #8f8f8f;
}

.main-navigation .active {
    position: relative;
}

.main-navigation .active:after {
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fb565a;
    content: "";
}

.basket {
    position: relative;
    float: right;
    margin-top: 54px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
}

.basket a {
    color: #000;
    text-decoration: none;
}

.icon-basket:before {
    position: absolute;
    top: 5px;
    left: -31px;
    color: #bdbdbd;
    font-size: 16px;
}

.icon-basket:hover:before {
    color: #f96a6e;
}

.icon-basket:active:before {
    color: #d7d7d7;
}

.basket a:hover {
    color: #f96a6e;
}

.basket a:active {
    color: #ababab;
}

.slider {
    position: relative;
    margin-top: 37px;
    width: 100%;
    height: 100%;
    background: #eee;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 94px;
    left: 50%;
    z-index: 1000;
    margin-left: -110px;
    width: 200px;
    height: 10px;
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 4px;
    height: 4px;
    border: 3px solid white;
    border-radius: 50%;
    background: white;
    vertical-align: top;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}

.slide {
    position: absolute top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 310px;
}

.slide-text {
    margin-top: 31px;
    width: 500px;
    color: #283136;
}

.slide-text h2 {
    width: 470px;
}

.slide-title {
    margin-bottom: 18px;
    color: black;
    font-size: 36px;
    line-height: 1;
}

.slide-text p {
    margin-bottom: 27px;
}

.slide:nth-child(1) {
    background-image: url("../img/slider1-image.png");
    background-position: 100% 10px;
    background-repeat: no-repeat;
}

.slide:nth-child(2) {
    background-image: url("../img/slider2-image.png");
    background-position: 640px 15px;
    background-repeat: no-repeat;
}

.slide:nth-child(3) {
    background-image: url("../img/slider3-image.png");
    background-position: 541px 100%;
    background-repeat: no-repeat;
}

.slide {
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.btn {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 3px;
    background: #fb565a;
    color: #fff;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.btn-learn-more {
    padding: 10px 70px;
}

.btn-learn-more:hover {
    background: #d6494d;
}

.btn-learn-more:active {
    background: #b63538;
}

.btn-web-sites:hover {
    background: #d6494d;
}

.btn-web-sites:active {
    background: #b63538;
}

.btn-applications {
    background: #00ca74;
}

.btn-applications:hover {
    background: #01a25e;
}

.btn-applications:active {
    background: #009053;
}

.btn-presentations {
    background: #efc84a;
}

.btn-presentations:hover {
    background: #d6ae2c;
}

.btn-presentations:active {
    background: #c09b24;
}

.btn-write:hover {
    background: #d6494d;
}

.btn-write:active {
    background: #b63538;
}

.services-company {
    padding-bottom: 80px;
    border-bottom: 2px solid #eee;
}

.services-company-item {
    float: left;
    margin-right: 80px;
    width: 240px;
}

.services-company-item:last-child {
    margin-right: 0;
}

.services-company-item img {
    margin-bottom: 17px;
}

.services-title {
    margin-bottom: 14px;
}

.services-company-item p {
    margin-bottom: 26px;
}

.services-item1 {
    letter-spacing: -0.028em;
}

.about-company {
    margin-top: 41px;
    margin-right: auto;
    margin-left: auto;
}

.content-column-left {
    float: left;
    width: 580px;
}

.content-column-right {
    float: right;
    width: 240px;
}

.content-column-left h2 {
    margin-top: 30px;
    margin-bottom: 17px;
}

.content-column-left p {
    margin-bottom: 44px;
}

.content-column-left h4 {
    margin-bottom: 22px;
}

.content-column-left ul {
    float: left;
    margin-left: 20px;
    list-style: none;
}

.content-column-left li {
    position: relative;
    margin-bottom: 22px;
    padding-left: 16px;
}

.content-column-left li:before {
    position: absolute;
    top: 10px;
    left: -20px;
    width: 25px;
    height: 2px;
    background: #fb565a;
    content: "";
}

.content-column-right img {
    margin-top: 18px;
    margin-bottom: 21px;
    margin-left: 31px;
}

.content-column-right span {
    position: relative;
    margin-bottom: 65px;
    margin-left: 80px;
    text-transform: uppercase;
    font-size: 16px;
}

.content-column-right span:before {
    position: absolute;
    top: 7px;
    left: -80px;
    width: 65px;
    height: 2px;
    border-bottom: 2px solid #eee;
    content: "";
}

.content-column-right span:after {
    position: absolute;
    top: 7px;
    left: 97px;
    width: 63px;
    height: 2px;
    border-bottom: 2px solid #eee;
    content: "";
}

.content-column-right h4 {
    margin-top: 65px;
    margin-bottom: 22px;
}

.content-column-right ul {
    float: left;
    margin-left: 20px;
    list-style: none;
}

.content-column-right li {
    position: relative;
    margin-bottom: 22px;
    padding-left: 16px;
}

.content-column-right li:before {
    position: absolute;
    top: 10px;
    left: -20px;
    width: 25px;
    height: 2px;
    background: #fb565a;
    content: "";
}

.project-logo {
    margin-top: 48px;
    margin-bottom: 85px;
    min-height: 166px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.project-logo img {
    float: left
}

.project-logo-image1 {
    margin-top: 67px;
    margin-left: 12px;
    opacity: 0.2;
}

.project-logo-image2 {
    margin-top: 55px;
    margin-left: 120px;
    opacity: 0.2;
}

.project-logo-image3 {
    margin-top: 46px;
    margin-left: 123px;
    opacity: 0.2;
}

.project-logo-image1:hover,
.project-logo-image2:hover,
.project-logo-image3:hover {
    opacity: 1;
}

.map-container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-bottom: 77px;
    width: 1200;
    height: 416px;
    background-image: url("../img/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.google-map {
    position: relative;
    z-index: 2;
}

.contacts {
    position: absolute;
    z-index: 2;
    float: left;
    margin-top: -333px;
    margin-left: 138px;
    min-height: 240px;
    width: 250px;
    background-color: #fff;
}

.contacts-title {
    margin-top: 24px;
    margin-bottom: 11px;
    margin-left: 21px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
}

.contacts p,
.contacts span {
    display: inline-block;
    margin-bottom: 19px;
    margin-left: 21px;
    width: 210px;
    color: #808080;
    vertical-align: baseline;
    line-height: 20px;
}

.telephone {
    color: #808080;
    text-decoration: none;
}

.btn-write {
    margin-top: 10px;
    margin-left: 22px;
    padding: 10px 54px;
}

.image-contact-marker {
    position: absolute;
    top: 113px;
    right: 171px;
    z-index: 1;
    display: block;
    width: 190px;
    height: 231px;
    background-image: url(../img/contact-marker.png);
    background-repeat: no-repeat;
}

.logo-contact-marker {
    position: absolute;
    top: 168px;
    right: 234px;
    z-index: 1;
    display: block;
    width: 92px;
    height: 37px;
    background-image: url(../img/map-logo.png);
    background-repeat: no-repeat;
}

.footer-social {
    float: left;
    min-width: 242px;
    text-align: center;
}

.social-btn {
    position: relative;
    display: inline-block;
    margin-right: 24px;
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background-color: #e1e1e1;
    color: #fff;
    vertical-align: top;
}

.social-btn:last-child {
    margin-right: 0;
}

.icon-vk,
.icon-facebook,
.icon-instagramm {
    position: absolute;
    top: 19px;
    left: 15px;
    text-transform: 16px;
    font-size: 23px;
}

.icon-vk {
    left: 14px;
}

.icon-facebook {
    left: 15px;
}

.social-btn:hover {
    background-color: #fb565a;
}

.social-btn:active {
    background-color: #d6494d;
}

.social-discount {
    float: right;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 550px;
}

.social-discount h2 {
    margin-bottom: 11px;
    line-height: 32px;
}

.welcome-title h1 {
    margin-top: 60px;
    margin-bottom: 79px;
    margin-left: 84px;
    min-height: 100px;
    width: 700px;
    text-align: center;
    text-transform: uppercase;
}


/*Стилизация фильтра*/

.filter-title {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
}

.price-title {
    margin-bottom: 19px;
}

.grid-title {
    margin-bottom: 20px;
}

.features-title {
    margin-bottom: 21px;
}

.filter {
    float: left;
    margin-right: 70px;
    min-height: 730px;
    width: 240px;
}

.range-filter {
    margin-top: 19px;
    margin-bottom: 52px;
    width: 240px;
}

.range-controls {
    position: relative;
    margin-bottom: 14px;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    height: 41px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    text-transform: uppercase;
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    font-size: 16px;
}

.max-price {
    text-align: right;
}

.price-controls input {
    margin-left: 6px;
    padding: 9px 10px;
    width: 60px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    color: #283136;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.radio-item {
    margin-bottom: 32px;
    width: 200px;
}

.filter input[type="radio"] {
    display: none
}

.filter input[type="radio"] + label {
    display: inline-block;
    margin-bottom: 18px;
    margin-left: 1px;
    color: #41484c;
    vertical-align: baseline;
    line-height: 20px;
    cursor: pointer;
}

.checkbox-item {
    margin-bottom: 39px;
    width: 190px;
}

.filter input[type="checkbox"] + label {
    display: inline-block;
    margin-bottom: 17px;
    margin-left: 1px;
    color: #41484c;
    vertical-align: baseline;
    cursor: pointer;
}

.filter input[type="checkbox"] {
    display: none;
}

.filter input[type="radio"] +label:before {
    display: inline-block;
    margin-right: 10px;
    color: #c1c1c1;
    content: "\25cb";
    vertical-align: middle;
    font-size: 28px;
    font-family: "symbols-nerds";
}

.filter input[type="radio"] + label:hover {
    color: #000;
}

.filter input[type="radio"] + label:hover:before {
    color: #b5b5b5;
}

.filter input[type="radio"]:checked +label:before {
    content: "\25cf";
}

.filter input[type="checkbox"] +label:before {
    display: inline-block;
    margin-right: 10px;
    color: #c1c1c1;
    content: "\2610";
    vertical-align: middle;
    font-size: 28px;
    font-family: "symbols-nerds";
}

.filter input[type="checkbox"] + label:hover:before {
    color: #b5b5b5;
}

.filter input[type="checkbox"] + label:hover {
    color: #000;
}

.filter input[type="checkbox"]:checked +label:before {
    content: "\2611";
}

.show-btn {
    margin-left: 1px;
    padding: 10px 43px;
    border: 0px;
    background-color: #f1f1f1;
    color: #000;
    font-weight: 700;
    font-family: "Roboto Bold" "Arial", sans-serif;
    cursor: pointer;
}


/* Галерея работ*/

.workshop-gallery {
    float: right;
    width: 560px;
}

.sort-panel {
    position: relative;
    float: left;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 560px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 17px;
}

.sort-title {
    margin-left: 0px;
    padding-right: 37px;
}

.sort-panel a {
    display: inline-block;
    margin-right: 42px;
    border-bottom: 1px dotted #00ca74;
    color: #cacaca;
    vertical-align: baseline;
    text-decoration: none;
}

.sort-panel a:hover {
    border-bottom: 1px solid #00ca74;
    color: #000;
}

.sort-panel a:active {
    border: none;
}

.icon-down-dir:before {
    position: absolute;
    top: -4px;
    right: 6px;
    color: #00ca74;
    font-size: 23px;
}

.icon-up-dir:before {
    position: absolute;
    top: -4px;
    right: -11px;
    color: #c1c1c1;
    font-size: 23px;
}

.icon-down-dir:hover:before,
.icon-up-dir:hover:before {
    color: #b5b5b5;
}

.icon-down-dir:active:before,
.icon-up-dir:active:before {
    color: #000;
}

.sort-panel a:last-child {
    margin-right: 0px;
}

.project-photo {
    width: 570px;
}

.project-photo img {
    padding-top: 30px;
    background-image: url(../img/light-panel.png);
    background-position: top;
    background-repeat: no-repeat;
}

.project-photo-item:hover .img-item {
    padding-top: 30px;
    background-image: url(../img/dark-panel.png);
    background-position: top;
    background-repeat: no-repeat;
}

.project-photo-item {
    position: relative;
    display: inline-block;
    margin-right: 77px;
    margin-bottom: 80px;
    margin-left: 0px;
    height: 270px;
    vertical-align: baseline;
}

.project-photo-item:nth-child(2n) {
    margin-right: 0;
}

.project-menu {
    position: absolute;
    top: 50px;
    left: 20px;
    display: none;
    width: 200px;
    height: 200px;
    background-color: white;
}

.project-photo-item:hover .project-menu {
    display: block;
}

.menu-title {
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 13px;
    margin-left: 61px;
    color: black;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
}

.project-menu p {
    margin-right: 20px;
    margin-bottom: 28px;
    margin-left: 18px;
    width: 170px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}

.thai-title {
    margin-left: 5px;
    line-height: 24px;
}

.thai-description {
    margin-top: -10px;
    margin-bottom: 120px;
}

.project-btn {
    margin-left: 30px;
    padding: 10px 0px;
    width: 140px;
    font-size: 18px;
}

.thai-btn {
    position: absolute;
    top: 132px;
}

.project-btn:hover {
    background-color: #d6494d;
}

.project-btn:active {
    background-color: #b63538;
}

.pagination {
    float: r;
    margin-bottom: 79px;
    min-width: 285px;
}

.pagination a {
    display: inline-block;
    margin-right: 6px;
    width: 38px;
    height: 38px;
    border-radius: 3px;
    background: #f1f1f1;
    color: #000;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 38px;
}

.pagination .enabled {
    margin-right: 7px;
    width: 34px;
    height: 34px;
    border: 2px solid #f1f1f1;
    background-color: #fff;
    line-height: 36px;
}

.pagination .next {
    margin-right: 0;
    width: 140px;
    line-height: 38px;
}

.pagination a:nth-child(2):hover,
.pagination a:nth-child(3):hover,
.pagination a:nth-child(4):hover {
    background-color: #e5e5e5;
}

.pagination a:nth-child(2):active,
.pagination a:nth-child(3):active,
.pagination a:nth-child(4):active {
    box-shadow: inset 00px 3px 0 0 #b5b5b5;
}


/* Всплывающая форма */

.modal-content {
    position: absolute;
    bottom: 33px;
    left: 275px;
    z-index: 3;
    display: none;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    width: 470px;
    height: 316px;
    background-color: white;
    box-shadow: 0px 20px 55px 0px rgba(0, 0, 0, .7);
}

.modal-content-close {
    position: absolute;
    top: 5px;
    right: 6px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #fb565a;
    font-size: 0;
    cursor: pointer;
}

.cross-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/Cross.png) no-repeat;
}

.letter-form label {
    display: block;
    margin-bottom: 8px;
    width: 110px;
}

.letter-form input {
    padding-left: 15px;
    width: 201px;
    height: 32px;
}

.letter-form input[type="text"] {
    margin-bottom: 15px;
}

.letter-form input[type="email"] {
    float: right;
    margin-top: -53px;
    margin-right: 10px;
}

.text-label {
    margin-top: 19px;
}

.letter-form textarea {
    overflow: auto;
    margin-bottom: 48px;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 11px;
    padding-left: 14px;
    max-width: 437px;
    max-height: 90px;
}

.email-label {
    float: right;
    margin-top: -82px;
    margin-right: 120px;
}

.letter-form input,
.letter-form textarea {
    display: block;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 18px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #000;
}

textarea::-moz-placeholder,
input::-webkit-input-placeholder {
    color: #000;
}

textarea:-moz-placeholder,
input::-webkit-input-placeholder {
    color: #000;
}

textarea:-ms-input-placeholder,
input::-webkit-input-placeholder {
    color: #000;
}

.send-btn,
.cancel-btn {
    width: 220px;
    border: 0px;
    cursor: pointer;
}

.cancel-btn {
    margin-left: 17px;
    background-color: #f1f1f1;
    color: #000;
}

.modal-content-show {
    display: block;
}