* {
    outline: 1px solid black;
}


body {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-weight: 700;
    min-width: 900;
    font-family: "Roboto", "Arial", sans-serif;
}

h2 {
    font-size: 36px;
    line-height: 36px;
}

.services-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.content-column-title {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.btn {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.main-header {
    background: #eee;
}

.header-logo {
    float: left;
    width: 139px;
    margin-top: 27px;
}

.main-navigation {
    float: left;
    margin-left: 183px;
    margin-top: 53px;
    width: 399px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

.main-navigation li {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    margin-right: 44px;
    text-transform: uppercase;
    vertical-align: top;
}

.main-navigation li:last-child {
    margin-right: 0;
}

.main-navigation a {
    text-decoration: none;
    color: #000;
}

.main-navigation a:hover {
  color: #f96a6e;
}

.main-navigation a:active {
    color:#8f8f8f;
}

.main-navigation .active a {
  position: relative;
}

.main-navigation .active a:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fb565a;
}

.cart {
    float: right;
    margin-top: 53px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}

.cart a {
    text-decoration: none;
    color: #000;
}

.cart a:hover {
    color:#f96a6e;
}

.cart a:active {
    color:#8f8f8f;
}

.icon-cart{
    font-family: "symbols-nerds";
}

.main-container {
    margin: 0px auto;
}

.slider-container,
.welcome-title{
    margin: 0px auto;
    background: #eee;
}

.features {
    float: left;
    width: 380px;
    padding-top:  68px;
}
.features p{
    padding-top: 16px
}

.slider {
    float: right;
    padding-top: 20px;
    width: 470px;
}

.services-company {
    margin: 0 auto;
}

.services-company-item {
    float: left;
    width: 240px;
    padding-top: 20px;
    margin-right: 80px;
}

.services-company-item:last-child {
    margin-right: 0;
}

.about-company {
    margin: 74px auto;
}

.content-column-left {
    width: 570px;
    float: left;
}

.content-column-right {
    width: 240px;
    float: right;
}

.project-logo {
    margin: 50px auto;
}

.project-logo-image {
    width: 292px;
    float: left;
}

.map-container {
    width: 1200px;
    height: 416px;
    margin: 0 auto;
    background-image: url("../img/map.jpg");
}

.contacts {
    background-color: #fff;
    width: 250px;
    float: left;
    margin-top: 90px;
    margin-left: 160px;
}

.map-logo {
    width: 150px;
    float: right;
    margin-top: 90px;
    margin-right: 300px;
}

.footer-social {
    float: left;
    width: 234px;
    margin-top: 50px
}

.social-discount {
    float: right;
    width: 550px;
}

.filter {
    float: left;
    width: 240px;
    min-height: 730px;
    margin-right: 70px
}

.workshop-gallery {
    float: right;
    width: 560px
}

.sort-panel {
    width: 560px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sort-panel a {
    display: inline-block;
    margin-right: 20px;
}

.project-photo {
    width: 560px;
}

.project-photo a {
    display: inline-block;
    margin-right: 76px;
    margin-left: 0px;
    margin-bottom: 80px;
}

.project-photo a:nth-child(2n) {
    margin-right: 0;
}

.pagination {
    width: 284px;
    margin-right: 10px;
}

.pagination a {
    display: inline-block;
    margin-right: 35px;
}

.pagination .next {
    margin-left: 0;
}