*
/* {
    outline: 1px solid black;
}*/

body {
    font-size: 16px;
    line-height: 22px;
    color: #283136;

    min-width: 900;
    font-family: "Roboto medium", "Arial", sans-serif;
}

h2 {
    font-size: 36px;
    line-height: 36px;
}

h3 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.main-header {
    margin-bottom: 80px;
    background: #eee;
}

.header-logo {
    float: left;
    width: 139px;
    margin-top: 27px;
}

.main-navigation {
    float: left;
    margin-left: 184px;
    margin-top: 54px;
    width: 399px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

.main-navigation li {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    margin-right: 44px;
    text-transform: uppercase;
    vertical-align: top;
}

.main-navigation li:last-child {
    margin-right: 0;
}

.main-navigation a {
    text-decoration: none;
    color: #000;
}

.main-navigation a:hover {
    color: #f96a6e;
}

.main-navigation a:active {
    color: #8f8f8f;
}

.main-navigation .active a {
    position: relative;
}

.main-navigation .active a:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fb565a;
}

.basket {
    float: right;
    padding-top: 54px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}

.basket a {
    text-decoration: none;
    color: #000;
}

.basket a:hover {
    color: #f96a6e;
}

.basket a:active {
    color: #8f8f8f;
}

.icon-basket:before {
    position: relative;
    top: -2px;
    left: -11px;
    color: #bdbdbd;
}

.icon-basket:hover {
    color: #f96a6e;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 37px;
    background: #eee;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -109px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}

.slide {
    position: absolute top: 0;
    left: 0;
    width: 100%;
    height: 310px;
    overflow: hidden;
}

.slide-text {
    width: 500px;
    padding-top: 31px;
    color: #283136;
}

.slide-title {
    font-size: 36px;
    line-height: 1;
    color: black;
}

.slide-text p {
    padding-top: 18px;
}

.slide:nth-child(1) {
    background-image: url("../img/slider1-image.png");
    background-repeat: no-repeat;
    background-position: 100% 10px;
}

.slide:nth-child(2) {
    background-image: url("../img/slider2-image.png");
    background-repeat: no-repeat;
    background-position: 640px 15px;
}

.slide:nth-child(3) {
    background-image: url("../img/slider3-image.png");
    background-repeat: no-repeat;
    background-position: 541px 100%;
}

.slide {
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 9px 40px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;
    color: #fff;
    background: #fb565a;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-learn-more {
    margin-top: 28px;
    padding: 9px 70px;
}

.btn-learn-more:hover {
    background: #d6494d;
}

.btn-learn-more:active {
    background: #b63538;
}

.btn-web-sites:hover {
    background: #d6494d;
}

.btn-web-sites:active {
    background: #b63538;
}

.btn-applications {
    background: #00ca74;
}

.btn-applications:hover {
    background: #01a25e;
}

.btn-applications:active {
    background: #009053;
}

.btn-presentations {
    background: #efc84a;
}

.btn-presentations:hover {
    background: #d6ae2c;
}

.btn-presentations:active {
    background: #c09b24;
}

.btn-write:hover {
    background: #d6494d;
}

.btn-write:active {
    background: #b63538;
}

.main-container {
    margin-bottom: 84px;
}

.services-company {
    margin-bottom: 80px;
}

.services-company-item {
    float: left;
    width: 240px;
    margin-right: 80px;
}

.services-company-item:last-child {
    margin-right: 0;
}

.services-title {
    padding-top: 17px;
}

.services-company-item p {
    padding-top: 14px;
    margin-bottom: 27px;
}

.services-item1 {
    letter-spacing: -0.028em;
}

hr {
    border: none;
    color: #eee;
    background-color: #eee;
    height: 2px;
    margin-bottom: 42px;
}

.about-company {
    margin: 0px auto;
}

.content-column-left {
    width: 580px;
    float: left;
}

.content-column-right {
    width: 240px;
    float: right;
}

.content-column-left h2 {
    padding-top: 30px
}

.content-column-left p {
    padding-top: 17px;
}

.content-column-left h4 {
    padding-top: 44px;
}

.content-column-left ul {
    float: left;
    margin-left: 20px;
    padding-top: 22px;
    list-style: none;
}

.content-column-left li {
    position: relative;
    margin-bottom: 22px;
    padding-left: 16px;
}

.content-column-left li:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: 25px;
    height: 2px;
    background: #fb565a;
}

.content-column-right img {
    padding-top: 19px;
    padding-left: 31px;
    margin-bottom: 20px;
}

.content-column-right span {
    position: relative;
    padding-left: 80px;
    font-size: 16px;
    text-transform: uppercase;
}

.content-column-right span:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 65px;
    height: 2px;
    border-bottom: 2px solid #eee;
}

.content-column-right span:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 175px;
    width: 65px;
    height: 2px;
    border-bottom: 2px solid #eee;
}

.content-column-right h4 {
    padding-top: 65px;
}

.content-column-right ul {
    float: left;
    margin-left: 20px;
    padding-top: 22px;
    list-style: none;
}

.content-column-right li {
    position: relative;
    margin-bottom: 22px;
    padding-left: 16px;
}

.content-column-right li:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: 25px;
    height: 2px;
    background: #fb565a;
}

.project-logo {
    margin-top: 48px;
    min-height: 166px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.project-logo img {
    float: left
}

.project-logo-image1 {
    margin-left: 12px;
    margin-top: 67px;
}

.project-logo-image2 {
    margin-left: 120px;
    margin-top: 55px;
}

.project-logo-image3 {
    margin-left: 123px;
    margin-top: 45px;
}

.map-container {
    width: 1200px;
    height: 416px;
    margin: 0 auto;
    background-image: url("../img/map.jpg");
}

.contacts {
        float: left;
    min-height: 240px;
    width: 250px;
    margin-top: 90px;
    margin-left: 160px;
    background-color: #fff;
}
.contacts-title {
    padding-left: 21px;
    padding-top: 24px;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts span{
    display: inline-block;
    padding-left: 21px;
    padding-top: 12px;
    line-height: 20px;
        color:#808080;
}

.telephone {
    text-decoration: none;
        color:#808080;

}
.btn-write {
    padding: 10px 55px;
    margin-top: 28px;
    margin-left: 22px;
}
.map-logo {
    float: right;
    width: 150px;
    margin-top: 90px;
    margin-right: 300px;
}

.footer-social {
    float: left;
    width: 234px;
    margin-top: 50px
}

.social-discount {
    float: right;
    width: 550px;
}

.filter {
    float: left;
    width: 240px;
    min-height: 730px;
    margin-right: 70px
}

.workshop-gallery {
    float: right;
    width: 560px
}

.sort-panel {
    width: 560px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sort-panel a {
    display: inline-block;
    margin-right: 20px;
}

.project-photo {
    width: 560px;
}

.project-photo a {
    display: inline-block;
    margin-right: 76px;
    margin-left: 0px;
    margin-bottom: 80px;
}

.project-photo a:nth-child(2n) {
    margin-right: 0;
}

.pagination {
    width: 284px;
    margin-right: 10px;
}

.pagination a {
    display: inline-block;
    margin-right: 35px;
}

.pagination .next {
    margin-left: 0;
}